* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Renos'; 
}

@font-face {
  font-family: 'Renos'; 
  src: url('./fuente/RenosRough-Regular.otf') format('truetype'),
       url('/./fuente/RenosRough-Regular.ttf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color:#0D4452;   
}

.logo img {
   max-width: 9rem;
   height: 100%;
   object-fit: cover;
}

.nav-list li a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Renos', sans-serif; 
    height: 100%;
    width: 100%;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    height: 5vh;    
}

.icon  {
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    
}

.icon ul{
    list-style-type: none;
}

.nav-list {
    display: none;
}

.nav-list.active {
    display: flex;
    list-style-type: none;
    z-index: 1000;
    flex-direction: column;
    position: absolute;
    top: 6%;
    right: 5%;
    padding: 5px;
    background-color: hsla(193, 73%, 18%, 0.5);
    
} 

#primer-seccion {
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#primer-seccion img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}



.bajada {
    height: 100%;
    width: 70%;
    align-items: justify;
    position:absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bajada-copete{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}



#servicios{
    border-bottom: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    gap:1%;
    padding: 1% 0% 1% 0%;
    height: 100%;
    width: 100%;
}




#primer-seccion h1 {
    text-align: center;
    width: 100%;
    font-family: 'Renos', sans-serif;  
    color: white;
    font-size: 0.9rem;
    padding: 5%;  
}

#bajada-titulo h1{
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
}

#servicios h1{
    font-size: 0.7rem;
}

#servicios h2{
    font-size: 0.5rem;
}

/*#segunda-seccion{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    background-color: #11594F;
    color: aliceblue;
    font-size: 0.7rem;
    position: relative;
    height: 50vh;
    background-image: url(./imagenes/Coope_1.jpeg);
    background-size: cover;
    background-position: 40px;
}


.art-seg-sec{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
    
}

.art-main{
    background-color: hsla(193, 73%, 18%, 0.5);
    width: 80%;
    padding: 3%;
    text-align: justify;
    gap:2%;
    
}*/

.segunda-seccion {
    width: 100%;
    background-color: #11594F;
    color: aliceblue;
    background-image: url(./imagenes/Coope_1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 5% 0;
}

.quienes_somos{
    height: 70vh;
    width: 100%;
    background-color: #11594F;
    color: aliceblue;
    background-image: url(./imagenes/img-que_hacemos.jpg);
    background-size: cover;
    background-position: center;
    padding: 5% 0;
}

.art-seg-sec {
    display: flex;
    flex-wrap: wrap; /* Permite que los artículos se ajusten en pantallas pequeñas */
    gap: 20px;
    align-items: stretch; /* Esto hace que todos los items tengan la misma altura */
    justify-content: center;
    width: 90%;
    max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
    margin: 0 auto;
    padding: 20px 0;
}

.art-main {
    background-color: hsla(193, 73%, 18%, 0.7);
    padding: 5%;
    text-align: justify;
    flex: 1; /* Hace que los artículos crezcan igual */
    min-width: 300px; /* Ancho mínimo para mantener legibilidad */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto{
    justify-content: space-between;
}

footer {   
    background-color: hsla(193, 73%, 18%, 0.9);
    height: 20vh;
     font-size: 0.5rem;
     color:aliceblue;
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
     padding: 5% 5% 8% 5%;
     gap: 1rem;
     
     width: 100%;

    
}

.footer ul{
    padding-bottom: 3%;
    width: 100%;
}

footer li{
    gap: 4%;
    
}

footer li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 0.5rem;
    
}

#footer-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    list-style-type: none;
    border-bottom: 1px solid white;
    
    
}

.redes{
    font-size: 1.8rem;
    text-align: center;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 0.5rem;
    gap: 10%;
    border-bottom: 1px solid white;
    padding-bottom: 3%;
    
}

.footer-contact h3{
    font-size: 0.6rem;
}

/*-------------Media Queries Tablet-----------*/

@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #mobile-menu {
        display: flex;
        text-decoration: none;
        justify-content: flex-end;
        gap: 5%;         
    }

    

    .icon ul{
        width: 100%;
    }
    
    .art-seg-sec {
        flex-direction: row;
        gap: 30px;
    }
    
    .art-main {
        width: 45%; /* Ajusta según necesidad */
        height: auto; /* La altura se ajustará automáticamente */
    }

    #primer-seccion h1 {
      
        font-size: 1rem;
        padding: 5%;  
    }

    #bajada-titulo h1{
        font-size: 2rem;
        
    }

     .bajada-contacto{
        width: 65%;
        display:flex;
        
        justify-content: space-around;
        align-items: center;
        
    }

    #bajada-contacto h1{
        font-size: 1.6rem;
        
    }

    .contacto-img{
        height:50vh;
        padding: 5%;
        width: 25vw;
        
    }

    .contacto-img img{
        height: 10%;
        width: 100%;
        object-fit: cover;
       
    }

    footer{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        padding: 2% 5% 8% 5%;
    }

    #footer-menu{
        display: flex;
        flex-direction: column;
        border-bottom: none;
        border-right: 1px solid white;
    }

    .footer-contact{
        justify-content: center;
        border-bottom: none;
        border-right: 1px solid white;
    }

    .redes{
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
    }


 }

/*-------------Media Queries Monitor-----------*/


@media (min-width: 1025px) {
    #menu-toggle {
        display: none;
    }

    #mobile-menu {
        display: flex;
        text-decoration: none;
        gap: 5%;         
    }

    

    .icon ul{
        width: 100%;
    }
    
    .art-seg-sec {
        gap: 30%;
    }
    
    .art-main {
        width: 60%;
        padding: 30px;
    }


    #bajada-titulo h1{
        font-size: 3rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }

    

    #servicios{
        border-bottom: none;
        border-top: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 100%;
        width: 100%;
    }

    #servicios h1{
        font-size: 0.9rem;
        padding: 1.5%;
    }

    #servicios h2{
        font-size: 0.8rem;
        color:rgb(179, 179, 179);
    }

    .contacto{
        height: 30vh;
    }

    .bajada-contacto{
        width: 65%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }



    #bajada-contacto h1{
        font-size: 1.7rem;
    }

    .contacto-img{
        height:30vh;
        
        width: 25vw;
        
    }

    .contacto-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    

    footer{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        padding: 2% 5% 8% 5%;
    }

    #footer-menu{
        display: flex;
        flex-direction: column;
        border-bottom: none;
        border-right: 1px solid white;
    }

    .footer-contact{
        font-size: 1rem;
        justify-content: center;
        border-bottom: none;
        border-right: 1px solid white;
    }

    .redes{
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
    }

    .redes a{
       
  color: inherit;          /* Hereda el color del elemento padre */
  text-decoration: none;   /* Elimina el subrayado */

    }

    
}
